body{
    direction: rtl;
    color: palevioletred;
    background: rgb(37, 37, 37);
}

#a{
    margin-left: 10px;
}

#three{
    position: relative;
    right: 308px;
    font-weight: bold;
}
#two{
    position: relative;
    right: 138px;
    font-weight: bold;
}
#one{
    width: 459px;
    white-space: nowrap;
}
.fa-phone:before {
    content: "\f095";
    position: relative;
    top: 5px;
}
#para{
   
    background-repeat: no-repeat;
    background-size: 1759px 250px;
    background-position-y: calc(0px);
    background-image: url(https://www.meim.gov.sa/arabic/PublishingImages/Slider3.png);
    background-position-y: calc(0px);
    width: 1355px;
    position: relative;
    left: 119px;
}
#z{
    height: 50px;
    position: relative;
    top: 14px;
    right: 424px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    font-weight: bold;
    margin-left: 33px;
    color: brown;
    font-size: 21px;
    transition: all 1s ease-in-out;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: green;
}


#q{
    font-size: 22px;
    font-weight: bold;
    color: brown;
 
}

#p-o{
    position: relative;
    top: -3px;
    background: rgb(223, 222, 222);
    height: 330px;
    width: 1095px;
}

#h-r{
    background-image: url(https://www.meim.gov.sa/arabic/PublishingImages/Slider3.png);
    background-repeat: no-repeat;
    background-size: 1094px 447px;
    background-position-y: calc(0px);
}

#a-b{
    width: 150px;
    height: 150px;
    background: black;
    border-radius: 50%;
    border-bottom-left-radius: 20px;
    transform: rotate(-45deg);
}
#a-c{
    width: 150px;
    height: 150px;
    background: black;
    border-radius: 50%;
    border-bottom-left-radius: 20px;
    transform: rotate(-45deg);
}

#a-d{

    width: 150px;
    height: 150px;
    background: black;
    border-radius: 50%;
    border-bottom-left-radius: 20px;
    transform: rotate(-45deg);
}

#a-e{
    width: 150px;
    height: 150px;
    background: black;
    border-radius: 50%;
    border-bottom-left-radius: 20px;
    transform: rotate(-45deg);
}

#yat{
    height: 400px;
}

#last{
    width: 100px;
    height: 100px;
}
#f{
    position: relative;
    bottom: 108px;
    right: 73px;
}
#d-o{
    max-width: 1125px;
    position: relative;
    bottom: 5px;
}
#move{
    position: relative;
    right: 43px;
}
h1{
    text-decoration: underline;
    color: red;
}
#ind{
 color: black
}
a{
    color: #1e87f0;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    top: 55px;
    font-weight: bold;
}
#e-o{
    background: blue;
    color: white;
    width: 1200px;
    height: 100px;
}
#first{
    position: relative;
    left: 30px;
}
@media(max-width:1024px)
{
    .fa-phone:before  {
        content: "\f095";
        position: relative;
        top: 5px;
        left: 168px;
    }
    #phone{
        position: relative;
    left: 171px;
    }
  
    
}
@media(max-width:768px)
{
    #two {
       
        display: none;
    }
    #three {
        position: relative;
        right: 196px;
        font-weight: bold;
    }
    #move {
        position: relative;
        right: -1px;
    }
    #d-o {
        max-width: 750px;
        position: relative;
        bottom: 5px;
    }
    #one{
        width: 459px;
        white-space: nowrap;
        position: relative;
        right: 34px;
    }
   
    
}



#r-g{
    color:red;
  

}
li{
    text-align: right;
}
h4{
    text-decoration: underline
}

#j{

        border: double 5px rebeccapurple;
        width: 400px;
        position: relative;
        right: 331px;
    
}

#e{
    text-align: right;
}

#t{
    text-decoration: none;
}
