/*laptop 1024px*/
@media(max-width:1024px)
{
html{background: black;}
.imga{position: relative;left: 348px;}
.carosize{position: relative;left: 127px;bottom: 29px;}
.two{position: relative; right: 262px;bottom: 32px;}
#move-one{position:relative;top:28px;left: -22px;}
#want{ position: relative;left: 86px; bottom: -4px; width: 551px;}
#f-fullname{ position:relative;left:1px;}
#f-nameinp{position: relative; left: 14px;}   
#f-add{position: relative;left: 21px;}  
#f-addinp {position:relative;left: 23px;}
#f-len{ position:relative;right:-18px;top:-3px;}
#f-leninp{position:relative; left: 36px;}
#f-nat{position: relative; left:1px;}
#f-email { position: relative; right: 433px;  top: 35px;}
#f-age{position: relative;left: 27px;}
#f-ageinp {  position: relative; left: 40px;}
#f-wei{ position: relative;left: 47px;}
#f-weiinp{position: relative;  left: 48px;}
#f-phone{position: relative; left: 109px;}
#f-phoneinp{position:relative;left: 113px;}
#f-button{position:relative; left: 176px;  top: 19px;}
#f-a{color: red;color:red;position: relative;right: 92px;}
#k-k{position: relative;  right: 20px;}
.fo{border: 5px solid #b200ff;width: 560px; position: relative;bottom:353px;left:981px;background: black; color: white; font-weight: bold;}
#t-t{position: relative; right: -2px; top: 77px;}
#r-r{position: relative; top: 173px;right: -20px;}
#o-q {
    white-space: nowrap;
    width: 800px;
    border: double 5px purple;
    background: mediumseagreen;
    position: relative;
    top: -112px;
    box-shadow: 10px 10px white;
    right: 33px;
}
.fa-chevron-circle-up:before {
    content: "\f139";
    position: relative;
    right: 69px;
    bottom: 285px;
}
#t-g {
    font-weight: 900;
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: green;
    border: 5px solid white;
    width: 899px;
    position: relative;
}

}
/*------------------------------------------------------------------------------------------------*/
/*Tablet 768px*/
@media(max-width:768px)
{

    .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
        color: greenyellow;
        position: relative;
        left: -16px;
        background: red;
        text-align: center;
        border: 2px solid antiquewhite;
    }
    .navbar-nav{
        position: relative;
        right: 35px;
    }
    #down-one{
        position: relative;
        top: 27px;
        left: 78px;
    }
    .imga {
        position: relative;
        left: 371px;
    }
    .carosize {
        position: relative;
        left: 132px;
        bottom: 29px;
    }
    .navbar-toggler:not(:disabled):not(.disabled) {
        cursor: pointer;
        position: relative;
        left: 10px;
        background: blue;
        color: white;
        height: 46px;
        bottom: 6px;
        border: 2px solid;
    }
    .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
        color: greenyellow;
        position: relative;
        left: 17px;
    }
    .bg-light {
        background-color: #e62828!important;
        height: 50px;
        width: 120px;
        font-weight: bold;
        font-size: 21px;
        position: relative;
        left: 703px;
        bottom: 52px;
    }
    #move-one {
        position: relative;
        top: 103px;
        left: 268px;
    }
    #want {
        position: relative;
        left: 187px;
        bottom: -93px;
        width: 575px;
    }
    #f-a {
        color: red;
        color: red;
        position: relative;
        right: 16px;
    }
    #f-addinp {
        position: relative;
        left: 139px;
    }
    #f-add {
        position: relative;
        left: 131px;
    }
    #f-button {
        position: relative;
        left: 246px;
        top: 54px;
    }
    #f-weiinp {
        position: relative;
        left: 92px;
        top: 40px;
    }
    #f-wei {
        position: relative;
        left: -589px;
        top: 73px;
    }
    #f-emailinp {
        position: relative;
   
    left: -126px;
    }
    #f-email {
        position: relative;
        right: 144px;
        top: 0px;
    }
    #f-phone {
        position: relative;
        left: 9px;
        top: 43px;
      
    }
    #f-phoneinp {
        position: relative;
        left: 13px;
        top: 44px
    }
    #f-ageinp {
        position: relative;
        left: 246px;
        top: 39px;
    }
    #f-age {
        position: relative;
        left: 233px;
        top: 36px;
    }
    #f-natinp {
        position: relative;
        left: 93px;
    }
    #f-nat {
        position: relative;
        left: -485px;
        top: 34px;
    }
    #f-leninp {
        position: relative;
        left: 17px;
    }
    #f-len {
        position: relative;
        right: -7px;
        top: -4px;
    }

    .fo {
        border: 5px solid #b200ff;
        width: 560px;
        position: relative;
        bottom: 353px;
        left: 948px;
        background: black;
        color: white;
        font-weight: bold;
    }
    #t-t {
        position: relative;
        right: -2px;
        top: 3px;
    }
    #r-r {
        position: relative;
        top: -260px;
        right: -370px;
    }
    #o-q {
        white-space: nowrap;
        width: 800px;
        border: double 5px purple;
        background: mediumseagreen;
        position: relative;
        top: -295px;
        box-shadow: 10px 10px white;
        right: 1px;
    }
    .fa-chevron-circle-up:before {
        content: "\f139";
        position: relative;
        right: -135px;
        bottom: 395px;
    }
    #t-g {
        font-weight: 900;
        color: #000000;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background: green;
        border: 5px solid white;
        width: 662px;
        position: relative;
    }

    
}

/*-----------------------------------------------------------------------------------------------------------*/
/* mobile 425px */
@media(max-width:425px)
{
    #f-nameinp {
        position: relative;
        left: 14px;
        bottom: 31px;
    }
    #f-fullname {
        position: relative;
        left: 8px;
        bottom: 31px;
    }
    #f-natinp {
        position: relative;
        left: 3px;
        bottom: 31px;
    }
    #f-nat {
        position: relative;
        left: 2px;
        top: -36px;
    }
    #f-leninp {
        position: relative;
        left: 93px;
        bottom: 32px;
    }
    #f-len {
        position: relative;
        right: 446px;
        top: -4px;
    }
    #f-emailinp {
        position: relative;
        left: 94px;
        bottom: 29px;
    }
    #f-email {
        position: relative;
        right: 369px;
        top: 8px;
    }
    #f-add {
        position: relative;
        left: 29px;
        bottom: 33px;
    }
    #f-addinp {
        position: relative;
        left: 35px;
        bottom: 30px;
    }
    #f-age {
        position: relative;
        top: -33px;
        left: 40px;
    }
    #f-ageinp {
        position: relative;
        left: 53px;
        top: -29px;
    }
    #f-weiinp {
        position: relative;
        left: 118px;
        top: -27px;
    }
    #f-wei {
        position: relative;
        left: 116px;
        top: -24px;
    }
    #f-phoneinp {
        position: relative;
        left: 126px;
        top: -22px;
    }
    #f-phone {
        position: relative;
        left: 123px;
        top: -23px;
    }
    #f-button {
        position: relative;
        left: 177px;
        top: 4px;
    }
    #f{
        position: relative;
        right: 4px;
    }
    #o-q {
        white-space: nowrap;
        width: 800px;
        border: double 5px purple;
        background: mediumseagreen;
        position: relative;
        top: -295px;
        box-shadow: 10px 10px white;
        right: 45px;
    }
    .fa-chevron-circle-up:before {
        content: "\f139";
        position: relative;
        bottom: 448px;
        right: -411px;
    }
    #r-p {
        font-weight: bold;
        font-size: 18px;
        color: black;
        font-weight: 900;
        font-family: cursive;
        position: relative;
        right: 44px;
    
    }

    #t-g {
        font-weight: 900;
        color: #000000;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background: green;
        border: 5px solid white;
        width: 662px;
        position: relative;
        width: 1290px;
    }
   

}



/*--------------------------------------------------------------------------------------------------------*/
/* mobile 375px */
@media (max-width: 375px)
{
    .fa-chevron-circle-up:before {
        content: "\f139";
        position: relative;
        bottom: 448px;
        right: -450px;
    }
    #r-p {
        font-weight: bold;
        font-size: 16px;
        color: black;
        font-weight: 900;
        font-family: cursive;
        position: relative;
        right: 55px;
    }
}

/*-----------------------------------------------------------------------------------------------------*/
/*mobile 320px*/
@media(max-width:320px)
{
.fa-chevron-circle-up:before {content: "\f139";position: relative; bottom: 448px;  right: -517px} 
#r-p { font-weight:bold;font-size:13px;color: black;font-weight: 900;font-family: cursive;position:relative;right: 69px;}
#q-a{ position:relative; right: 89px}
#e-k{font-size: 58px;}
    

}


/*--------------------------------------------------------------------------------------------------------------/*/
@media(max-width:2560px)
{
    #x-p {width:1349px;height:400px;position:relative;left:601px;}
}



/*------------------------------------------------------------------------------------------------*/


@media(max-width:1440px)
{
    #x-p { width:1349px;height:400px;position:relative;left: 63px;}
        
}
